<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan" style="color:CRIMSON;"><b>Machine Repair Management Extend(All Types of Machines)</h2>
       <p style="color:crimson;">This module develop to full fill requirements of Machine Repair Services Provider or Industry.</p>
   </div>
   <div class="oe_row oe_spaced">
       <p style="color:red;">Video Link:- <a rel="stylesheet" type="text/css" href="https://youtu.be/PbcujkkNSpc">https://youtu.be/PbcujkkNSpc</a></p>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Contract Views</b></h2>
       <div class="oe_demo oe_screenshot">
           <h3 class="oe_slogan"><b style="color:Grey;">Kanban View</b></h3>
           <img src="Selection_001.png">
           <h3 class="oe_slogan"><b style="color:Grey;">Form View</b></h3>
           <img src="Selection_002.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Customer</b></h2>
       <div class="oe_demo oe_screenshot">
           <h3 class="oe_slogan"><b style="color:Grey;">Form View</b></h3>
           <img src="Selection_003.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Location</b></h2>
       <div class="oe_demo oe_screenshot">
           <h3 class="oe_slogan"><b style="color:Grey;">Form View</b></h3>
           <img src="Selection_004.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Product</b></h2>
       <div class="oe_demo oe_screenshot">
           <h3 class="oe_slogan"><b style="color:Grey;">Product Form View</b></h3>
           <img src="Selection_005.png">
           <h3 class="oe_slogan"><b style="color:Grey;">Product Variants Form View</b></h3>
           <img src="Selection_006.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Website (Create Repair Request) Form</b></h2>
       <div class="oe_demo oe_screenshot">
           <img src="Selection_007.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Machine Repair Form View</b></h2>
       <div class="oe_demo oe_screenshot">
           <h3 class="oe_slogan"><b style="color:Grey;">Form View</b></h3>
           <img src="Selection_008.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Machine Repair Report</b></h2>
       <div class="oe_demo oe_screenshot">
           <h3 class="oe_slogan"><b style="color:Grey;">Menu</b></h3>
           <img src="Selection_009.png">
           <h3 class="oe_slogan"><b style="color:Grey;">PDF</b></h3>
           <img src="Selection_010.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h2 class="oe_slogan"><b style="color:CRIMSON;">Contract Smart Button on Customer</b></h2>
       <div class="oe_demo oe_screenshot">
           <h3 class="oe_slogan"><b style="color:Grey;">Smart Button</b></h3>
           <img src="Selection_011.png">
           <h3 class="oe_slogan"><b style="color:Grey;">Contract List Viwe</b></h3>
           <img src="Selection_012.png">
       </div>
   </div>
</section>
<h2 class="oe_slogan"><b style="color:CRIMSON;">New Changes</b></h2>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h4 class="oe_slogan"><b style="color:CRIMSON;">Add a Checkbox on webpage</b></h4>
       <div class="oe_demo oe_screenshot">
           <img src="Selection_013.png">
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row oe_spaced">
       <h4 class="oe_slogan"><b style="color:CRIMSON;">Add a Equipment Product Field on Contract</b></h4>
       <div class="oe_demo oe_screenshot">
           <img src="Selection_014.png">
       </div>
   </div>
</section>
<section class="oe_container" >
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">
            <strong><font style="color:#2dd280;" class="text-epsilon">Contact / Support<br/></font></strong>
            <strong><font style="color:crimson" class="text-epsilon">Introducing</font>
            <font style="color:crimson;" class="text-epsilon">Probuse Consulting Services Pvt. Ltd.</font></strong>
          </h2>
       <div class="oe_span6">
           <div class="mt32 col-md-10">
           <div class="oe_picture" style="margin: 25px 10%;">
               <a  target='new' href="http://www.probuse.com/">
                   <img src="logo.png">
               </a>
           </div>
           <p class="oe_mt32">
               <font style="color:crimson;">If you need any help or want more additional features, you may contact us through:</font><br/>
               <font style="color:crimson;">Email: <a href="contact@probuse.com">contact@probuse.com</a> <br/>
               <font style="color:crimson;">Website: </font><a href="http://www.probuse.com/" target='new'><u>www.probuse.com</u></a> <br/>
               <font style="color:crimson;">Skype: mustufa_probuse</font><br/>
           </p>
           <p>
                <h2>
                    <a href="https://www.facebook.com/probusecs" target="new">
                      <i class="fa fa-facebook-square" style="font-size:38px;"></i>
                    </a>
                    <a href="https://twitter.com/mustufa_odoo" target="new">
                      <i class="fa fa-twitter" style="font-size:38px;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/mustufa-rangwala-odoo-openerp-0a46777/" target="new">
                      <i class="fa fa-linkedin" style="font-size:38px;"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCHlyoC4khP44M1cOCJXo2FQ" target="new">
                      <i class="fa fa-youtube-play" style="font-size:38px;"></i>
                    </a>
                    <a href="https://plus.google.com/u/0/113284573788891837715/posts" target="new" rel="publisher">
                      <i class="fa fa-google-plus-square" style="font-size:38px;"></i>
                    </a>
              </h2>
            </p>
           </div>
       </div>
    <div class="mt32 oe_span6">
           <p style="text-align: justify; ">
            <font class="text-epsilon" style="color:crimson;">Probuse Consulting Service Pvt Ltd is an Software and Web development specialist which offers complete business application together. We are well experienced to provide a face for your business on the software and Internet level.</font>
          </p>
          <p style="text-align: justify;">
            <font class="text-epsilon" style="color:crimson">Probuse Consulting Service Pvt Ltd is a specialist in Odoo/OpenERP services and could give your business open source hand to drive.</font>
          </p>
            <h3 class="o_animate o_anim_bounce_in" style="text-align: left; animation-play-state: paused;">
                <font style="font-size: 18px;color:#ff8000;" class="text-epsilon"><strong>Our Services</strong></font>
            </h3>
            <ul style="list-style-type:square">
                <a href="http://www.probuse.com/page/odoo-implementation" target="new"><li list-style-type: "*";><p style="text-align: left; color:crimson;">Odoo Implementation</p></a></li>
                <a href="http://www.probuse.com/page/odoo-support" target="new"><li><p style="text-align: left; color:crimson;">Odoo Support</p></a></li>
                <a href="http://www.probuse.com/page/odoo-customization" target="new"><li><p style="text-align: left; color:crimson;">Odoo Customization</p></li></a>
                <a href="http://www.probuse.com/page/odoo-migration" target="new"><li><p style="text-align: left; color:crimson;">Odoo Migration</p></a></li>
                <a href="http://www.probuse.com/page/odoo-training" target="new"><li><p style="text-align: left; color:crimson;">Odoo Training</p></a></li>
            </ul>
           </p>
       </div>
   </div>
</section>